 textarea,
 input.text,
 input[type=email],
 input[type=password],
 input[type=password] {
     -webkit-appearance: none;
     -webkit-border-radius: 0;
 }
 
 .flat-btn {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     border-radius: 0;
     position: ceter;
 }
 
 a {
     font-size: 16px;
     color: #3498db;
     text-align: center;
     display: block;
     margin: auto;
 }